<title>Joel's Favorite Sites</title>
    <style>
     img {
            width: 300px;
            height: 300px;
            border-radius: 8px;
        }
    </style>

    <!-- Your shared layout HTML -->
    <!-- Paste your HTML here -->
    <!-- Content specific to this page -->
    <div class="container">
        <div class="left-column">
            <h1>Get to Know Joel</h1>
            <p>
                <br />
                Joel has had a happy upbringing and continues to lead a fulfilling life surrounded by love and laughter. His
                involvement in comedy improv and theater at BYU suggests a passion for entertaining others. Landing a role in
                CTU: Provo through his friend's connections seems like a fortunate opportunity for Joel, especially considering
                the notable names involved in the project. Overall, it seems like Joel has found success in his comedic pursuits
                and has had some exciting experiences along the way.
            </p>
        </div>
        <div class="right-column">
            <h2>Check out Joel's Favorite Sites</h2>
        <p>
            <a href="https://www.qwcomedy.com/">Link to Quick Wits Comedy</a>
        </p
        ><p>
            <a href="https://baconsale.com/">Link to Baconsale</a>
        </p>
            <!-- This photo that also links to the Baconsale site when clicked: -->
            <a href="https://baconsale.com/">
                <img src="/img/baconsalekate.jpg" alt="Kate from Baconsale">
            </a>
        </div>
    </div>