@* For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860 *@
@{
}
@model Application

<h1>Movie Form</h1>

<form method="post">

    <div style="margin-bottom: 10px;">
        <label asp-for="Category" style="width: 100px; text-align: right; display: inline-block;">Category:</label>
        <input asp-for="Category" style="width: 200px; display: inline-block;" />
    </div>

    <div style="margin-bottom: 10px;">
        <label asp-for="Title" style="width: 100px; text-align: right; display: inline-block;">Title:</label>
        <input asp-for="Title" style="width: 200px; display: inline-block;" />
    </div>

    <div style="margin-bottom: 10px;">
        <label asp-for="Year" style="width: 100px; text-align: right; display: inline-block;">Year:</label>
        <input asp-for="Year" style="width: 200px; display: inline-block;" />
    </div>

    <div style="margin-bottom: 10px;">
        <label asp-for="Director" style="width: 100px; text-align: right; display: inline-block;">Director:</label>
        <input asp-for="Director"  style="width: 200px; display: inline-block;" />
    </div>

    <div style="margin-bottom: 10px;">
        <label asp-for="Rating" style="width: 100px; text-align: right; display: inline-block;">Rating:</label>
        <select asp-for="Rating" id="Rating" style="width: 200px; display: inline-block;">
            <option value=""></option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
    </div>

    <div style="margin-bottom: 10px;">
        <label asp-for="Edited" style="width: 100px; text-align: right; display: inline-block;">Edited:</label>
        <select asp-for="Edited" id="Edited" style="width: 200px; display: inline-block;">
            <option value=""></option>
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>
    </div>

    <div style="margin-bottom: 10px;">
        <label asp-for="LentTo" style="width: 100px; text-align: right; display: inline-block;">Lent To:</label>
        <input asp-for="LentTo" style="width: 200px; display: inline-block;" />
    </div>

    <div style="margin-bottom: 10px;">
        <label asp-for="Notes" style="width: 100px; text-align: right; display: inline-block;">Notes:</label>
        <input asp-for="Notes" name="Notes" type="text" id="Notes" maxlength="25" style="width: 200px; display: inline-block;" />
    </div>
    <button type="submit">Submit the movie information!</button>
</form>


