@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
  border: 10px solid black;
}
</style>
<div class="text-center">
    <!--A home page containing the title “The Joel Hilton Film Collection”-->
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <!--only image I could find of him on the Internet:-->
    <img src="/img/JoelHiltonHeadshot.jpg" />
</div>
@* <div>
    <a asp-controller="Home" asp-action="Waitlist">View the Waitlist </a>
</div> *@
